.SingleDatePicker {
    width: 50% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    margin-top: 20px;
    z-index: 100;
    position: fixed;
}

.SingleDatePickerInput > .DateInput {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80% !important;
    text-align: center !important; 
}


.DateRangePickerInput {
    width: 366px;
    margin: 0;
    padding: 0;
    float: right !important;
}

.date-label {
    float: right;
    margin-top: 10px;
}