.form {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: $m-size;
    }
    margin-bottom: $xl-size;
}

.form__error {
    margin: 0 0 $m-size 0;
    font-style: italic
}

#editor {
    padding-bottom: 2px;
}

#editor > .ql-container {
    min-height: 400px;
}

.readOnlyEditor > .ql-container {
    border: none;
}
