.header {
    background: $dark-blue;
}

.header__title {
    color: white;
    text-decoration: none;
    h1:hover {
        color: white;    
    }
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}