.text-input {
    border: 1px solid #cacccd;
    height: 50px;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
}

.text-input--search {
    width: 28rem;
}

.text-input--author {
    width: 48%;
    float: left;
}

.text-input--email {
    width: 48%;
    float: right;
    
}

.text-input--tags {
    width: 100%;
    height: 50px;
}


.select {
    @extend .text-input;
    width: 97px;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}

.form-error {
    margin-top: -2px;
    border: 2px solid red;
    margin-bottom: 20px;
    height: 55px !important;

}

#tags-input {
    width: 100%;
    height: 50px;
    padding-left: 1px;
    display: block;
    margin-bottom: 10px;
}