.text-input {
    border: 1px solid #cacccd;
    height: 50px;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
}

.text-input--search {
    width: 28rem;
}

.text-input--author {
    width: 48%;
    float: left;
}

.text-input--email {
    width: 48%;
    float: right;
    
}

.text-input--tags {
    float: left;
    width: 60%;
    height: 50px;
}


.select {
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}
