.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $m-size;
    justify-content: space-between;
    width: 100%;
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
    }
}

.input-group__item {
    margin-bottom: $s-size;
}


