.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $m-size; 
    justify-content: space-between;
    
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
    }
}

.input-group__item {
    margin-bottom: $s-size;

    @media (min-width: $desktop-breakpoint){
        margin: 0 $s-size+0.05 0 0;
    }
}

.SingleDatePicker {
    float: right !important;
    width: 36% !important;
    margin-left: 0;
}

.SingleDatePickerInput > .DateInput {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80% !important;
    text-align: center !important; 
}


.DateRangePickerInput {
    width: 336px;
    margin: 0;
    padding: 0;
    float: right !important;
}

.date-label {
    float: right;
    margin-top: 10px;
}