.javascript,
.jquery {
  background-color: yellow !important;
  @extend .react-tagsinput-tag;
}

.html,
.html5 {
  background-color: orange !important;
  @extend .react-tagsinput-tag;
}

.git,
.github {
  background-color: black !important;
  color: white !important;
  @extend .react-tagsinput-tag;
}

.css,
.scss,
.sass {
  background-color: #0989f2 !important;
  @extend .react-tagsinput-tag;
}

.react,
.react16,
.react15,
.redux {
  background-color: blueviolet !important;
  @extend .react-tagsinput-tag;
}

.angular,
.angularJS,
.angular2,
.angular3,
.angular5 {
  background-color: red !important;
  @extend .react-tagsinput-tag;
}

.facebook,
.twitter,
.reddit,
.social,
.me,
.google {
  background-color: #ee86ff !important;
  @extend .react-tagsinput-tag;
}

.test {
  background-color: #ff00ee !important;
  @extend .react-tagsinput-tag;
}

.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
  line-height: 18px;
  height: 40px;
  @extend .text-input--tags;
}

.react-tagsinput--focused {
  border-color: #51a8ff;
}

.react-tagsinput-tag {
  background-color: $blue;
  border: 1px solid black !important;
  color: white;
  border-radius: 3px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 10px;
  margin-top: 3px;
  margin-right: 5px;
  padding: 2px 5px 2px 5px;
  min-width: 40px;
  text-align: center;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: ' ×';
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px;
}