$s-min: 20;
$s-max: 70;
$l-min: 30;
$l-max: 90;


@for $i from 1 through 100 {
    label:nth-child(#{$i}) {
      background-color: darken(hsl(random(360),$s-min+random($s-max+-$s-min),$l-min+random($l-max+-$l-min)), 30%) !important;
      color: white !important;
      border: none !important;      
      @extend .react-tagsinput-tag
    }
}

.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
  @extend .text-input--tags ;
}

.react-tagsinput--focused {
  border-color: #51a8ff;
}

.react-tagsinput-tag {
  background-color: $blue;
  border: 1px solid $darkish-blue;
  color: $off-white;
  border-radius: 10px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px 5px 10px;
  min-width: 40px;
  text-align: center;
  font-weight: bold;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px;
}